Pipeline/ImportSTFormatFile_Divert_support_live/pipeline/ImportSTFormatFile_Divert.json
{
    "name": "ImportSTFormatFile_Divert",
    "properties": {
        "activities": [
            {
                "name": "Import Sales Data",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "Set RunSeqNo",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "DelimitedTextSource",
                        "additionalColumns": [
                            {
                                "name": "SourceFileName",
                                "value": "$$FILEPATH"
                            },
                            {
                                "name": "RunSeqNo",
                                "value": {
                                    "value": "@variables('RunSeqNo')",
                                    "type": "Expression"
                                }
                            }
                        ],
                        "storeSettings": {
                            "type": "AzureBlobStorageReadSettings",
                            "recursive": true,
                            "wildcardFolderPath": {
                                "value": "@pipeline().parameters.Directory",
                                "type": "Expression"
                            },
                            "wildcardFileName": {
                                "value": "@pipeline().parameters.File",
                                "type": "Expression"
                            },
                            "enablePartitionDiscovery": false
                        },
                        "formatSettings": {
                            "type": "DelimitedTextReadSettings"
                        }
                    },
                    "sink": {
                        "type": "AzureSqlSink",
                        "preCopyScript": "TRUNCATE TABLE dbo.Sales_LOAD",
                        "writeBehavior": "insert",
                        "sqlWriterUseTableLock": false,
                        "disableMetricsCollection": false
                    },
                    "enableStaging": false,
                    "enableSkipIncompatibleRow": true,
                    "logSettings": {
                        "enableCopyActivityLog": true,
                        "copyActivityLogSettings": {
                            "logLevel": "Warning",
                            "enableReliableLogging": false
                        },
                        "logLocationSettings": {
                            "linkedServiceName": {
                                "referenceName": "AzureBlobStorage1",
                                "type": "LinkedServiceReference"
                            },
                            "path": "sink/output"
                        }
                    },
                    "translator": {
                        "type": "TabularTranslator",
                        "mappings": [
                            {
                                "source": {
                                    "path": "['Product']"
                                },
                                "sink": {
                                    "name": "Product",
                                    "type": "String"
                                }
                            },
                            {
                                "source": {
                                    "path": "['ManufacturerProductCode']"
                                },
                                "sink": {
                                    "name": "ManufacturerProductCode",
                                    "type": "String"
                                }
                            },
                            {
                                "source": {
                                    "path": "['Units']"
                                },
                                "sink": {
                                    "name": "UnitsSold",
                                    "type": "Int32",
                                    "physicalType": "int"
                                }
                            },
                            {
                                "source": {
                                    "path": "['Value']"
                                },
                                "sink": {
                                    "name": "SalesValueUSD",
                                    "type": "Decimal",
                                    "physicalType": "decimal",
                                    "scale": 2,
                                    "precision": 18
                                }
                            },
                            {
                                "source": {
                                    "path": "$['Month']"
                                },
                                "sink": {
                                    "name": "SalesMonth",
                                    "physicalType": "date"
                                }
                            },
                            {
                                "source": {
                                    "path": "$['Company']"
                                },
                                "sink": {
                                    "name": "Retailer",
                                    "type": "String",
                                    "physicalType": "nvarchar"
                                }
                            },
                            {
                                "source": {
                                    "path": "$['SourceFileName']"
                                },
                                "sink": {
                                    "name": "SourceFileName",
                                    "type": "String"
                                }
                            },
                            {
                                "source": {
                                    "path": "$['RunSeqNo']"
                                },
                                "sink": {
                                    "name": "RunSeqNo",
                                    "type": "Int32",
                                    "physicalType": "int"
                                }
                            }
                        ],
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "ABS_CSV",
                        "type": "DatasetReference",
                        "parameters": {
                            "Container": "sink",
                            "Directory": {
                                "value": "@pipeline().parameters.Directory",
                                "type": "Expression"
                            },
                            "File": {
                                "value": "@pipeline().parameters.File",
                                "type": "Expression"
                            },
                            "ConnectionSecret": "StorageAccountConnectionString"
                        }
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "ASQL_dboSalesLoad",
                        "type": "DatasetReference",
                        "parameters": {
                            "TableSchema": "dbo",
                            "TableName": "Sales_LOAD"
                        }
                    }
                ]
            },
            {
                "name": "Log Pipeline outcome",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "If Condition1",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[LogPipelineEnd]",
                    "storedProcedureParameters": {
                        "FilesRead": {
                            "value": {
                                "value": "@activity('Import Sales Data').output.filesRead",
                                "type": "Expression"
                            },
                            "type": "Int32"
                        },
                        "RowsCopied": {
                            "value": {
                                "value": "@activity('Import Sales Data').output.rowsCopied",
                                "type": "Expression"
                            },
                            "type": "Int32"
                        },
                        "RowsRead": {
                            "value": {
                                "value": "@activity('Import Sales Data').output.rowsRead",
                                "type": "Expression"
                            },
                            "type": "Int32"
                        },
                        "RunEndDateTime": {
                            "value": {
                                "value": "@utcnow()",
                                "type": "Expression"
                            },
                            "type": "DateTime"
                        },
                        "RunSeqNo": {
                            "value": {
                                "value": "@variables('RunSeqNo')",
                                "type": "Expression"
                            },
                            "type": "Int32"
                        },
                        "RunStatus": {
                            "value": "Done",
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "adflearninglinkedsql",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Lookup RunSeqNo",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderStoredProcedureName": "[dbo].[LogpipelineStart]",
                        "storedProcedureParameters": {
                            "Comments": {
                                "type": "String",
                                "value": {
                                    "value": "@concat('Pipeline ', pipeline().Pipeline, ' ececuted in ', pipeline().DataFactory, ' loading file ', pipeline().parameters.Directory, '/', pipeline().parameters.File)",
                                    "type": "Expression"
                                }
                            },
                            "PipelineRunId": {
                                "type": "Guid",
                                "value": {
                                    "value": "@pipeline().RunId",
                                    "type": "Expression"
                                }
                            },
                            "RunStartDateTime": {
                                "type": "DateTime",
                                "value": {
                                    "value": "@utcnow()",
                                    "type": "Expression"
                                }
                            }
                        },
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "ASQL_dboSalesLoad",
                        "type": "DatasetReference",
                        "parameters": {
                            "TableSchema": "dbo",
                            "TableName": "Sales_LOAD"
                        }
                    }
                }
            },
            {
                "name": "Set RunSeqNo",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "Lookup RunSeqNo",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "variableName": "RunSeqNo",
                    "value": {
                        "value": "@string(activity('Lookup RunSeqNo').output.firstRow.RunSeqNo)",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Log Pipeline failure",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "Import Sales Data",
                        "dependencyConditions": [
                            "Failed"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[LogPipelineEnd]",
                    "storedProcedureParameters": {
                        "FilesRead": {
                            "value": {
                                "value": "@activity('Import Sales Data').output.filesRead",
                                "type": "Expression"
                            },
                            "type": "Int32"
                        },
                        "RowsCopied": {
                            "value": {
                                "value": "@activity('Import Sales Data').output.rowsCopied",
                                "type": "Expression"
                            },
                            "type": "Int32"
                        },
                        "RowsRead": {
                            "value": {
                                "value": "@activity('Import Sales Data').output.rowsRead",
                                "type": "Expression"
                            },
                            "type": "Int32"
                        },
                        "RunEndDateTime": {
                            "value": {
                                "value": "@utcnow()",
                                "type": "Expression"
                            },
                            "type": "DateTime"
                        },
                        "RunSeqNo": {
                            "value": {
                                "value": "@variables('RunSeqNo')",
                                "type": "Expression"
                            },
                            "type": "Int32"
                        },
                        "RunStatus": {
                            "value": "Failed",
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "adflearninglinkedsql",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "If Condition1",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "Import Sales Data",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@greater(activity('Import Sales Data').output.rowsSkipped, 0)",
                        "type": "Expression"
                    },
                    "ifTrueActivities": [
                        {
                            "name": "Copy data true",
                            "type": "Copy",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "DelimitedTextSource",
                                    "storeSettings": {
                                        "type": "AzureBlobStorageReadSettings",
                                        "recursive": true,
                                        "wildcardFolderPath": {
                                            "value": "@join(skip(split(activity('Import Sales Data').output.logfilepath, '/'), 1), '/')",
                                            "type": "Expression"
                                        },
                                        "wildcardFileName": {
                                            "value": "*",
                                            "type": "Expression"
                                        },
                                        "enablePartitionDiscovery": false
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextReadSettings"
                                    }
                                },
                                "sink": {
                                    "type": "AzureSqlSink",
                                    "writeBehavior": "insert",
                                    "sqlWriterUseTableLock": false
                                },
                                "enableStaging": false,
                                "translator": {
                                    "type": "TabularTranslator",
                                    "typeConversion": true,
                                    "typeConversionSettings": {
                                        "allowDataTruncation": true,
                                        "treatBooleanAsNumber": false
                                    }
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "ABS_CSV",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "Container": "sink",
                                        "Directory": {
                                            "value": "@pipeline().parameters.Directory",
                                            "type": "Expression"
                                        },
                                        "File": {
                                            "value": "@pipeline().parameters.File",
                                            "type": "Expression"
                                        },
                                        "ConnectionSecret": "StorageAccountConnectionString"
                                    }
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "ASQL_dboLoadingError",
                                    "type": "DatasetReference"
                                }
                            ]
                        }
                    ]
                }
            }
        ],
        "parameters": {
            "Directory": {
                "type": "string"
            },
            "File": {
                "type": "string"
            }
        },
        "variables": {
            "RunSeqNo": {
                "type": "String"
            },
            "MyVariable": {
                "type": "String"
            }
        },
        "annotations": [],
        "lastPublishTime": "2023-02-19T15:01:17Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}