Pipeline/ImportSugarCubeSales_Audit_support_live/pipeline/ImportSugarCubeSales_Audit.json
{
    "name": "ImportSugarCubeSales_Audit",
    "properties": {
        "activities": [
            {
                "name": "SugarCubeCopy",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "Set RunSeqNo",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "JsonSource",
                        "additionalColumns": [
                            {
                                "name": "SourceFileName",
                                "value": "$$FILEPATH"
                            },
                            {
                                "name": "PipelineRunId",
                                "value": {
                                    "value": "@pipeline().RunId",
                                    "type": "Expression"
                                }
                            },
                            {
                                "name": "RunSeqNo",
                                "value": {
                                    "value": "@variables('RunSeqNo')",
                                    "type": "Expression"
                                }
                            }
                        ],
                        "storeSettings": {
                            "type": "AzureBlobStorageReadSettings",
                            "recursive": true,
                            "wildcardFolderPath": "SugarCube/2020",
                            "wildcardFileName": "*.json",
                            "enablePartitionDiscovery": false
                        },
                        "formatSettings": {
                            "type": "JsonReadSettings"
                        }
                    },
                    "sink": {
                        "type": "AzureSqlSink",
                        "preCopyScript": "TRUNCATE TABLE dbo.Sales_LOAD",
                        "writeBehavior": "insert",
                        "sqlWriterUseTableLock": false,
                        "disableMetricsCollection": false
                    },
                    "enableStaging": false,
                    "translator": {
                        "type": "TabularTranslator",
                        "mappings": [
                            {
                                "source": {
                                    "path": "['Product']"
                                },
                                "sink": {
                                    "name": "Product",
                                    "type": "String"
                                }
                            },
                            {
                                "source": {
                                    "path": "['ManufacturerProductCode']"
                                },
                                "sink": {
                                    "name": "ManufacturerProductCode",
                                    "type": "String"
                                }
                            },
                            {
                                "source": {
                                    "path": "['Units']"
                                },
                                "sink": {
                                    "name": "UnitsSold",
                                    "type": "Int32"
                                }
                            },
                            {
                                "source": {
                                    "path": "['Value']"
                                },
                                "sink": {
                                    "name": "SalesValueUSD",
                                    "type": "Decimal"
                                }
                            },
                            {
                                "source": {
                                    "path": "$['Month']"
                                },
                                "sink": {
                                    "name": "SalesMonth",
                                    "type": "DateTime"
                                }
                            },
                            {
                                "source": {
                                    "path": "$['Company']"
                                },
                                "sink": {
                                    "name": "Retailer",
                                    "type": "String"
                                }
                            },
                            {
                                "source": {
                                    "path": "$['SourceFileName']"
                                },
                                "sink": {
                                    "name": "SourceFileName",
                                    "type": "String"
                                }
                            },
                            {
                                "source": {
                                    "path": "$['RunSeqNo']"
                                },
                                "sink": {
                                    "name": "RunSeqNo",
                                    "type": "Int32"
                                }
                            }
                        ],
                        "collectionReference": "$['Sales']",
                        "mapComplexValuesToString": false
                    }
                },
                "inputs": [
                    {
                        "referenceName": "ABS_JSON_SugarCube",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "ASQL_dboSalesLoad",
                        "type": "DatasetReference",
                        "parameters": {
                            "TableSchema": "dbo",
                            "TableName": "Sales_LOAD"
                        }
                    }
                ]
            },
            {
                "name": "Log Pipeline outcome",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "SugarCubeCopy",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[LogPipelineEnd]",
                    "storedProcedureParameters": {
                        "FilesRead": {
                            "value": {
                                "value": "@activity('SugarCubeCopy').output.filesRead",
                                "type": "Expression"
                            },
                            "type": "Int32"
                        },
                        "RowsCopied": {
                            "value": {
                                "value": "@activity('SugarCubeCopy').output.rowsCopied",
                                "type": "Expression"
                            },
                            "type": "Int32"
                        },
                        "RowsRead": {
                            "value": {
                                "value": "@activity('SugarCubeCopy').output.rowsRead",
                                "type": "Expression"
                            },
                            "type": "Int32"
                        },
                        "RunEndDateTime": {
                            "value": {
                                "value": "@utcnow()",
                                "type": "Expression"
                            },
                            "type": "DateTime"
                        },
                        "RunSeqNo": {
                            "value": {
                                "value": "@variables('RunSeqNo')",
                                "type": "Expression"
                            },
                            "type": "Int32"
                        },
                        "RunStatus": {
                            "value": "Done",
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "adflearninglinkedsql",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Lookup RunSeqNo",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderStoredProcedureName": "[dbo].[LogpipelineStart]",
                        "storedProcedureParameters": {
                            "Comments": {
                                "type": "String",
                                "value": {
                                    "value": "@concat('Pipeline ', pipeline().Pipeline, ' ececuted in ', pipeline().DataFactory)",
                                    "type": "Expression"
                                }
                            },
                            "PipelineRunId": {
                                "type": "Guid",
                                "value": {
                                    "value": "@pipeline().RunId",
                                    "type": "Expression"
                                }
                            },
                            "RunStartDateTime": {
                                "type": "DateTime",
                                "value": {
                                    "value": "@utcnow()",
                                    "type": "Expression"
                                }
                            }
                        },
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "ASQL_dboSalesLoad",
                        "type": "DatasetReference",
                        "parameters": {
                            "TableSchema": "dbo",
                            "TableName": "Sales_LOAD"
                        }
                    }
                }
            },
            {
                "name": "Set RunSeqNo",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "Lookup RunSeqNo",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "variableName": "RunSeqNo",
                    "value": {
                        "value": "@string(activity('Lookup RunSeqNo').output.firstRow.RunSeqNo)",
                        "type": "Expression"
                    }
                }
            }
        ],
        "variables": {
            "RunSeqNo": {
                "type": "String"
            }
        },
        "annotations": [],
        "lastPublishTime": "2023-02-19T15:01:17Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}